# Ce fichier .gitignore est utilisé pour ignorer les fichiers et répertoires qui ne doivent pas être suivis par Git

# Ignorer les environnements virtuels
venv/

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc

# Ignorer les dépendances de Node.js
node_modules/

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers de configuration d'IDE
.idea/
*.sublime-workspace
*.sublime-project