# This .gitignore file is used to ignore files and directories that should not be tracked by Git

# Ignore virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Node.js dependencies
node_modules/

# Ignore log files
*.log

# Ignore IDE configuration files
.idea/
*.sublime-workspace
*.sublime-project